<div class="footer-info">
  <div class="row">
    <div class="footer-col-left col-sm-6 col-12">
      {% if copyright %}
      Copyright &copy; <a href="/" class="font-weight-bold">ISPPME</a> | All Rights Reserved.
      {% endif %}

      {% if footer_address %}
      {% if copyright %}<br>{% endif %}
      {{ footer_address }}
      {% endif %}
    </div>
    {# powered #}
    <div class="footer-col-right col-sm-6 col-12 footer-powered">
      {% block powered %}
      <a href="https://yate.co.zw/" target="_blank" class="text-muted">Powered by <b>YATE</b></a>
      {% endblock %}
    </div>
  </div>
</div>
